@import url('https://fonts.googleapis.com/css?family=Lora|Playfair+Display:400,800&display=swap');


body {
  font-family: 'Lora';
}

.center_text {
  text-align: center;
}

p{
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
}

li {
    font-size: 16px;
    margin-bottom: 6px;
  line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display';
  letter-spacing: 0.5px;
}

h1 {
  font-size: 60px;
  margin-bottom: 60px;

}


h3 {
  font-size: 30px;
  margin-top: 80px;
}


.logo_container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  }

  aside {
  width: 470px;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 0;
  left: 0;
  border-right: 1px solid #eaecef;
  overflow-y: auto;
  height: 100%;
  }

  main { 
    padding-left: 470px;
    padding-bottom: 40px;
  }

.main_content_container {
  width: 680px;
  margin: 0 auto;
  padding-top: 30px;
  }

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 60px;
  }

.logo_text {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.05;
  padding: 0;
  margin: 0;
letter-spacing: 0.5px;
  font-family: 'Playfair Display'

  }



a {
  text-decoration: none;
  color: #000;
}

.router-link-active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #FF69B4;

}

ul {
    margin-bottom: 40px;
}

.sidebar_nav_container {
 
padding: 0;
  width: 70%;
  margin: auto;
   margin-top: 70px;
  }

.nav_section {
   list-style-type: none;
  }

  .nav_header{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 800;
    font-family: 'Playfair Display';
    }


    .nav_item{
      margin: 0;
      padding: 0;

      }

.hitbox_span {
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 10px;
      display:block;
 
}